<!DOCTYPE html>
<html>

<head>

	<title>Create a new chat room!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">

 	<link rel="icon" href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAc/BxACgV0QATrRMAx57wAAcIBwAiuB8A6/LrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVRFVURURFVVRURVmZhEVERERFmZmYVERURFmMiNmURVVFmMkQjZhFQVmMiRCI2NQVWMiIiIiNlBVYzMzMzM2UAVWMzMzM2UAAFZmMzZmZQAAV3dmZ3dQAABXV1BXV1AAAFd3UFV3UAAABVUABVUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIABAAAAAQAAAAEAAIADAADAAwAAwAcAAMEHAADBBwAA448AAP//AAD//wAA" rel="icon" type="image/x-icon">
</head>

<body>

	<header>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
	</header>

	<section>
		<div class="container-fluid">
		<div class="homesection">

			<div class="node">
				<img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/thumb/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered web chat</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Hey Jeff! Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>
		</div>
	</div>
	</section>

</body>
</html>
