<!DOCTYPE html>
<html>

<head>

	<title>Create a new chat room!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">

 	<link rel="icon" href="code.ico">
</head>

<body>

	<header>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
	</header>

	<section>
		<div class="container-fluid">
		<div class="homesection">

			<div class="node">
				<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fsentry.io%2F_assets%2Flogos%2Fnode-3424bd51a773808e4b2473878d45009ded79ac1a897b64de6fb68b8e0dd4a697.svg&imgrefurl=https%3A%2F%2Fsentry.io%2Ffor%2Fnode%2F&docid=7yLkZ3kyiGH7FM&tbnid=joBzp1G9JDSJrM%3A&vet=10ahUKEwj428SMtdXgAhXmzoUKHQYcBCcQMwg_KAMwAw..i&w=800&h=800&bih=984&biw=1680&q=node%20logo&ved=0ahUKEwj428SMtdXgAhXmzoUKHQYcBCcQMwg_KAMwAw&iact=mrc&uact=8" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered web chat</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Hey Jeff! Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>
		</div>
	</div>
	</section>

</body>
</html>
